.login-card {
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 5em;
}

.login-card button {
  width: 100%;
}

.error-card {
  margin-left: 15em;
  margin-right: 15em;
  margin-top: 5em;
  background-color: #C2185B;
}

mat-form-field {
  width: 100%;
  text-align: center;
}
